<div class="db-World-sideNavContainer">
    <div class="db-SideNav-navSections">
        <nav>
            <ul>
                <li>
                    <a routerLink="/home">
                        <div class="Padding-vertical--10 nav-div" routerLinkActive="selected-tab" align="center">
                            <span class=" Text-color--white Text-fontSize--15 Text-fontWeight--medium">
                                <span routerLinkActive="Text-color--dark">Home</span>
                            </span>
                        </div>
                    </a>
                </li>
                <li>
                    <a routerLink="/properties">
                        <div class="Padding-vertical--10 nav-div" routerLinkActive="selected-tab" align="center">
                            <span class=" Text-color--white Text-fontSize--15 Text-fontWeight--medium">
                                <span routerLinkActive="Text-color--dark">Properties</span>
                            </span>
                        </div>
                    </a>
                </li>  
                <li>
                    <a routerLink="/tenants">
                        <div class="Padding-vertical--10 nav-div" routerLinkActive="selected-tab" align="center">
                            <span class=" Text-color--white Text-fontSize--15 Text-fontWeight--medium">
                                <span routerLinkActive="Text-color--dark">Tenants</span>
                            </span>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<router-outlet></router-outlet>